*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --cell-size: 100px;
  --mark-size: calc((var(--cell-size) * 0.9));
}

body {
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADING */
h4 {
  color: #2f4858;
  margin: 0 auto 4%;
  font-family: inherit;
  font: 800 41px 'Roboto Slab', serif;
  letter-spacing: 1.3px;
}

/* MAIN BOARD */
.main-board {
  display: grid;
  grid-template-areas:
    'turns'
    'board'
    'scoreBoard';
}
/* BOARD */
.board {
  display: grid;
  grid-area: board;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 2rem;
}
/* SCOREBOARD */
.scoreBoard {
  display: flex;
  padding: 5px 0;
  height: auto;
  align-self: center;
  justify-content: center;
  grid-area: scoreBoard;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}
.scoreTab {
  display: block;
  padding: 0 0.8rem;
  margin: 0 auto;
  text-align: center;
}
.scoreTab h5 {
  font: 700 1.3rem 'Segoe UI', Verdana, sans-serif;
  color: #ffffff;
}
.scoreTab .score {
  color: #2b4250;
  font: 900 1.2rem Verdana, sans-serif;
}

/* CELL */
.cell {
  --border-size: 2px;
  --border-color: #1c2c36;

  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* XO PATTERN   */
.cell:not(:nth-child(3n)) {
  border-right: var(--border-size) solid var(--border-color);
}
.cell:nth-child(-n + 6) {
  border-bottom: var(--border-size) solid var(--border-color);
}

/* DONT ALLOW CURSOR ON DRAWN CELL */
.cell.x,
.cell.o {
  cursor: not-allowed;
}

/* COLOR FOR 'X' AND 'O' */
.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: #416379;
}

/* HOVER COLOR FOR 'X' AND 'O' */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: #99afbd;
}

/*  DRAW 'X' AND HOVER 'X' WHEN THE CELL HAS NO CLASS NAME  */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::before,
.cell.x::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
.board.x .cell:not(.x):not(.o):hover::before,
.cell.x::before {
  transform: rotate(45deg);
}
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::after {
  transform: rotate(-45deg);
}

/*  DRAW '0' AND HOVER 'O' WHEN THE CELL HAS NO CLASS NAME  */
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::before,
.cell.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.board.o .cell:not(.x):not(.o):hover::before,
.cell.o::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #ffffff;
}

/* STRIKE LINE */
.strike.vertical::after,
.strike.vertical::before,
.strike.horizontal::after,
.strike.horizontal::before,
.strike.diagonal-left::after,
.strike.diagonal-left::before,
.strike.diagonal-right::after,
.strike.diagonal-right::before {
  content: '';
  top: 5px;
  position: absolute;
  width: calc(var(--mark-size) * 0.08);
  height: var(--mark-size);
  background-color: #ff9671;
  z-index: 1;
}

/* STRIKE VERTICAL */
.strike.vertical::after {
  transform: translateY(8px);
}
.strike.vertical::before {
  transform: translateY(-8px);
}

/* STRIKE HORIZONTAL */
.strike.horizontal::after {
  transform: rotate(90deg) translateY(8px);
}
.strike.horizontal::before {
  transform: rotate(90deg) translateY(-8px);
}

/* STRIKE DIAGONAL LEFT */
.strike.diagonal-left::after {
  transform: rotate(-45deg) translateY(28px);
}
.strike.diagonal-left::before {
  transform: rotate(-45deg) translateY(-28px);
}

/* STRIKE DIAGONAL RIGHT */
.strike.diagonal-right::after {
  transform: rotate(45deg) translateY(28px);
}
.strike.diagonal-right::before {
  transform: rotate(45deg) translateY(-28px);
}

/* RESULT TAB OR WINNING TAB */
.winningMessgeTab {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: fixed;
  user-select: none;
  z-index: 2;
}
.winningMessgeTab.show {
  display: flex;
}

/* WINNING MESSAGE */
.winningMessageText {
  color: #ffffff;
  font: 700 3rem 'Roboto Slab', serif;
}

/* RESTART BUTTON */
.restart {
  background-color: #f78b3d;
  border: none;
  border-radius: 9px;
  box-shadow: 4px 5px 11px #ffffffa6 inset, 5px 8px 15px #0000004b;
  color: #ffffff;
  cursor: pointer;
  font: 700 2rem 'Montserrat', sans-serif;
  margin: 15px auto;
  outline: none;
  padding: 0.25rem 0.5rem;
}

/* HOVER RESTART BUTTON */
.restart:active,
.restart:focus {
  transform: translateY(4px) scale(0.9);
}

/* TURNS */
.turns-section {
  grid-area: turns;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(var(--cell-size) * 3);
  margin: 0 0 25px 0;
  align-self: flex-start;
  padding: 15px 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.35)
  );
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}
.xT,
.oT {
  font: 700 1.3rem 'Segoe UI', Verdana, sans-serif;
  color: #2b4250;
  color: #ffffffd6;
}
.xT.active,
.oT.active {
  color: #d64053;
  height: 30px;
  position: relative;
}

.xT::after,
.oT::after {
  position: absolute;
  height: 3px;
  content: '';
  right: 0;
  bottom: 0;

  width: 0;
  visibility: hidden;
  border-radius: 5px;
  background-color: #d64053;
  transition: width 350ms ease-in-out;
}
.oT::after {
  inset: auto auto 0 0;
}
.xT.active::after,
.oT.active::after {
  width: 100%;
  visibility: visible;
}

/* RESPONSIVENESS */
/* MEDIA-MD */
@media screen and (min-width: 768px) {
  /* MAIN BOARD */
  .main-board {
    display: grid;
    grid-template-areas:
      'board turns'
      'board scoreBoard';
    grid-template-rows: 70px;
  } /* BOARD */
  .board {
    margin: 0 2rem 0 0;
  }
}
/* MEDIA-LG */
@media screen and (min-width: 1024px) {
}
/* MEDIA-XL */
@media screen and (min-width: 1600px) {
}
